[Unit]
After=network-online.target
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run -d -p 5000:5000 --restart always --name registry registry:2

[Install]
WantedBy=multi-user.target
